body {
    background: rgb(171, 238, 185);
}

.top{
    font-family: 'Righteous', cursive;
    font-size: 40px;
    margin: 40px 0 40px 0;
    text-align: center;
}

.time {
    position: fixed;
    left: 15px;
    top: 5px;
}

.card-table {
    display: flex;
    flex-wrap: wrap;
    width: calc(100vw - 200px);
    justify-content: center;
    margin: 0 auto 0 auto;
}

.card {
    width: 100px;
    height: 150px;
    margin: 0 17px 34px 17px;
    position: relative;
    flex-shrink: 0;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -4px;
    border: 1px black solid;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.flip {
    transform: rotateY(180deg);
}
